*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
.header{
	margin:0 auto;
	width: 1180px;
	height: 126px;
}
.header1{
	width: 1180px;
	height: 30px;
}
.body{
	margin: 0 auto;
	width: 1180px;
	height:550px;
	background-color: #f8f7f6;
}
.tail{
	margin: 0 auto;
	width:1180px;
	height:345px;
	background-color: #f8f7f6;
}
.header11{
	font-size: 13px;
	color: #9a9791;
	margin-top: 7px;
	width: 90px;
	height: 10px;
	float: left;
}
.header12{
	width:730px;
	height:30px;
	margin-left: 455px;
	margin-top: -10px;
	float: left;
}
.a1{
	color: #9a9791;
	font-size:13px;
	text-decoration: none;
}
.header2{
	width:1180px;
	height: 67px;
}
.header21{
	float: left;
	width: 142px;
	height: 62px;
}
.header22{
	width: 586px;
	height: 45px;
	margin-left: 110px;
	margin-top: 10px;
	float: left;
}
.header22 input{
	width: 496px;
	height: 40px;
	margin-bottom: 10px;
	float: left;
	border:2px solid #fe6c00;
	color: #9a9791;
	font-size:13px;
}
.header222{
	width: 86px;
	height: 44px;
	float: right;
	background: #fe6c00;
	color: white;
	text-align: center;
}
.header23{
	width: 80px;
	height: 40px;
	margin-left: 90px;
	float: left;
	border: 1px solid #f8f7f6;
	color: #9a9791;
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
}
.header24{
	width: 80px;
	height: 40px;
	float: left;
	border: 1px solid #f8f7f6;
	color: #9a9791;
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
}
.header25{
	width: 80px;
	height: 40px;
	background: #ff4d04;
	color: white;
	font-size: 13px;
	float: left;
	text-align: center;
	margin-left: 255px;
	margin-top: -41px;
}
.header3{
	margin-left: 258px;
	width:650px;
	height: 16px;
}
.header3 a{
	text-decoration: none;
}
.header3 div{
	font-size: 13px;
	border-right: 1px solid #9a9791;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.header4{
	width: 100%;
	height: 42px;
	background-color: black;
}
.header41{
	margin:0 auto;
	width: 1180px;
	height: 42px;
}
.header41 li{
	text-align: center;
	float: left;
	line-height: 50px;
	padding-right: 40px;
}
.header41 li a{
	text-decoration: none;
	height: 42px;
	width: 98px;
	display: block;
	color: white;
}
.header41 li a:hover{
	background-color: red;
}
.body{}
.slider{
	width: 6432px;
	position: absolute;
	left: -804px;
}
.slide{
	width: 804px;
	overflow: hidden;
	float: left;
}
.box>nav{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{
	position: absolute;
	left: 30px;
	top: 150px;
	width: 40px;
	background: white;
}
#right{
	position: absolute;
	right: 30px;
	top: 150px;
	width: 40px;
	background: white;
}
.nav{
	position: absolute;
	left: 327px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 3px;
	border-radius: 50%;
	text-align: center;
	color: white;
}
.nav .active{
	background: red;
}
.tail{
	width: 1180px;
	height:345px;
}
.tail1{
	width: 1180px;
	height:180px;
}
.tail11{
	width: 154px;
	height: 179px;
	float: left;
}
.tail12{
	margin-left: 85px; 
	margin-top: 30px;
	width: 67px;
	height:118px;
	float: left;
}
.tail1 a{
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.tail p{
	font-size: 15px;
	font-family: '微软雅黑';
}
.tail18{
	width: 125px;
	height: 148px;
	margin-left: 63px;
	margin-top: 30px;
	float: left;
}
.tail2{
	height: 161px;
	width: 1180px;
}
.tail21{
	margin-top: 10px;
	margin-left: 250px;
	height: 15px;
	width: 750px;
}
.tail21 a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	padding: 0px 14px;
	border-right: 1px solid black;
}
.tail22{
	height: 80px;
	width: 1180px;
	margin-top: 5px;
}
.fudong{
	position: fixed;
	top: 105px;
	text-align: center;
	right: 0px;
	width: 45px;
	height: 509px;
	background-color: ;
}


